{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<h1>{{ drink.name }}</h1>

{% if drink.image %}
    <img src="{{ drink.image.url }}" alt="{{ drink.name }}" width="300">
{% endif %}

{#<p><strong>دما مناسب:</strong> {{ drink.get_temperature_type_display }}</p>#}
<p><strong>قیمت اصلی:</strong> {{ drink.price }}</p>
<p>قیمت با تخفیف: {{ drink.discounted_price }}</p>

<p>{{ drink.description }}</p>

<a href="{% url 'recommend_drink' %}">بازگشت</a>
